img {
  width: 100px;
}

.super-mario {
  position: absolute;
  width: 50px;
}

.goomba {
  position: absolute;
  left: 35px;
  top: 145px;
  width: 50px;
}

.word {
  left: 94px;
  top: 73px;
  position: absolute;
  width: 80px;
  z-index: 2
}

.baloon {
  left: 85px;
  position: absolute;
  z-index: 1;
}

.bowser {
  position: absolute;
  left: 185px;
  top: 93px;
}